POSTGRES_USER=rec_user
POSTGRES_PASSWORD=rec_pass
POSTGRES_DB=recommendations
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_INTERACTIONS_TOPIC=user-interactions
KAFKA_TRIGGER_TOPIC=model-triggers

PRODUCER_DELAY_MS=100
RETRAIN_THRESHOLD=10000

API_HOST=0.0.0.0
API_PORT=8000

MODEL_STORE_PATH=/app/model_store
